.login-form-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(180deg, #008DDA 50%, #E5E1DA 50%);
}

.login-form {
  background: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 300px;
  width: 100rem;
  height: 23rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-background {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.img-logo {
  max-width: 150px;
}

.texto {
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
  width: 100%;
}

input {
  width: 100%;
  
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.25);
}

.error-message {
  color: red;
  font-size: 14px;
  margin: -10px 0 10px;
}

.btn {
  display: flex;
  margin-top: 10px;
  justify-content: space-between;
  width: 100%;
  gap: 10px;
}

.btn-login {
  width: 48%;
  padding: 10px;
  background-color: #007bff;
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.btn-login:hover {
  background-color: #0056b3;
}

.y0 {
  display: block;
  text-align: center;
  margin-top: 15px;
  color: #007bff;
  text-decoration: none;
}

.y0:hover {
  text-decoration: underline;
}